/* Réinitialisation des styles */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* Réinitialisation des styles pour les éléments de base */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Réinitialisation des éléments HTML5 pour les navigateurs plus anciens */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Réglage de la taille de ligne par défaut pour le corps */
body {
	line-height: 1;
}

/* Suppression des styles de liste par défaut */
ol, ul {
	list-style: none;
}

/* Suppression des citations par défaut */
blockquote, q {
	quotes: none;
}

/* Suppression des pseudo-éléments de citation */
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Suppression des bordures et de l'espacement des cellules de tableau */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Fin de la réinitialisation des styles **/

/* Styles spécifiques à votre site */
body {
	max-width: 1140px;
	margin: auto;
	font-size: 14px;
	background: #FFFEF8;
}

/* En-tête du site */
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

/* Sections du contenu */
section {
	margin: 50px 0;
}

/* Titre principal */
h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

/* Utilisation de la police 'Work Sans' pour le corps, les titres et les div */
body, h1, h2, div, span {
	font-family: 'Work Sans';
}

/* Sous-titre */
h1 > span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

/* Titre de section */
h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

/* Menu de navigation */
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 20px;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav ul li img {
	width: 20px;
	height: 20px;
}

/* Effet de survol sur les éléments du menu */
li:hover {
	color: #B1663C;
}

/* Introduction */
#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* Titre de la section portfolio */
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* Galerie d'images */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/* Section de contact */
#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2 {
	margin-bottom: 10px;
}

#contact form {
	text-align: left;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	margin-left: 95px;
}

#contact input {
    font-size: 14px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-top: 5px;
}

#contact label {
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5px;
}

#contact textarea {
	border: none;
	width: 383px;
	margin-bottom: 45px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 179px;
	text-align: center;
	border-radius: 60px;
	margin: inherit;
	margin-left: 22%;
	height: 36px;
}

/* Pied de page */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	background: white;
	width: 1440px;
	height: 60px;
}

/* Filtrage sur la page d'accueil */
.filters-button {
	justify-content: center;
}

.mainfilters {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.all,
.objects,
.appartments,
.hotels {
	border-radius: 25px;
	padding: 10px 20px;
	background-color: white;
	color: #1D6154;
	border: 1px solid #1D6154; /* Utilisation des valeurs par défaut */
	margin-right: 10px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 700;
	font-family: Syne;
}

.all:hover,
.objects:hover,
.appartments:hover,
.hotels:hover {
	background-color: #1D6154; /* Changer la couleur de fond au survol */
	color: white; /* Changer la couleur du texte au survol si nécessaire */
}


/* Connexion Page */
.input {
	width: 379px;
	height: 51px;
	top: 338px;
	left: 530px;
	gap: 0px;
}

.group {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 30%;
}

h2 {
	margin-bottom: 30px;
	margin-top: 60px;
	justify-content: center;
}

h3 {
	line-height: 16.42px;
	text-align: left;
	display: flex;
	margin-right: 88%;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 16.42px;
	color: #3D3D3D;
	font-weight: bold;
}

h4 {
	line-height: 16.42px;
	text-align: left;
	display: flex;
	margin-right: 76%;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 16.42px;
	color: #3D3D3D;
	font-weight: bold;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	width: 417px;
	margin-bottom: 30px;
	margin-top: 10px;
	height: 51px;
	top: 338px;
	left: 530px;
	gap: 0px;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: #FFFFFF;
}

.connexionbutton {
	border-radius: 25px;
	padding: 10px 20px;
	background-color: #1D6154;
	color: white;
	border: 1px solid #1D6154;
	width: 179px;
	height: 36px;
	margin-bottom: 30px;
	font-family: Syne;
	font-size: 14px;
	font-weight: 700;
	line-height: 16.8px;
	text-align: center;
}

.forgot-password {
	color: #3D3D3D;
	font-weight: bold;
}


/* Effet de survol sur le menu */
nav ul li a {
	text-decoration: none;
	color: #000;
}

nav ul li a:hover {
	font-weight: bold;
}

nav ul li a:active {
	font-weight: bold;
	color: #000;
}


/* Pied de page */
footer {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}


/* Éditeur d'en-tête dynamique */
.mode-edition {
	width: 1440px;
	height: 59px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 50px;
	display: none;
}


/* Projet: Icône + Modifier */
.modifier-text {
	display: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.42px;
	text-align: center;
	color: #000000;
}

h2 .fa-solid {
	display: none;
	color: black;
	font-size: 15px;
	margin-left: 25px;
}

h2 .fa-solid {
	display: none;
	vertical-align: middle;
	margin-right: 5px;
}


/* Bloc d'en-tête: Icône + Modifier */
.editorbloc {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}

.editorbloc .fa-solid {
	color: white;
}


/* Première modale */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	width: 630px;
	height: 688px;
	border-radius: 10px;
}

.modal-content p {
    color: #000000;
    font-size: 26px;
    font-weight: 400;
    line-height: 30.5px;
    text-align: center;
    padding: 25px;
    margin-bottom: 15px;
    padding-top: 20px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}


/* Ligne horizontale + bouton Ajouter une image */
.ligne-modal {
	width: 420px;
	border: 1px solid #b3b3b3;
	position: relative;
	bottom: 20px;
	left: 50%;
	top: 76px;
	transform: translateX(-50%);
}

.addPicture-button {
	border-radius: 25px;
	padding: 9px 0px;
	background-color: #1d6154;
	color: white;
	border: 2px solid #f2f2f2;
	width: 237px;
	height: 36px;
	font-family: Syne;
	line-height: 16.8px;
	text-align: center;
	margin-left: 31%;
	margin-top: 18%
}


/* Première modale (images + icône) */
.modal-gallery {
	width: fit-content;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 10px;
	grid-row-gap: 20px;
	margin: auto;
}

.modal-gallery img {
	width: 76.86px;
	height: 102.57px;
}

.image-container i.fa-trash-can {
	position: absolute;
	top: 10px;
	left: 53px;
	width: 17px;
	height: 17px;
	right: 5px;
	color: white;
	background-color: black;
	cursor: pointer;
	border-radius: 2px;
}

.image-container {
	position: relative;
}

.fa-trash-alt:before,
.fa-trash-can:before {
	content: "\f2ed";
	margin-left: 4px;
	font-size: 10px;
	margin-bottom: 5px;
	border-radius: 1px;
}

#addPhotoForm {
    display: none;
    margin-left: 105px;
    margin-top: 40px;
    width: min-content;
}


/* Deuxième modale */
.addPicture-button2 {
    border-radius: 25px;
    padding: 9px 0px;
    background-color: #cbd6dc;
    color: #306685;
    border: 2px solid #f2f2f2;
    width: 173px;
    height: 36px;
    margin-top: 24%;
    margin-left: 30%;
    font-size: 14px;
    line-height: 16.42px;
    text-align: center;
    margin-bottom: 1%;
    font-style: normal;
    font-weight: 700;
	bottom: 10px;
}

.textafterCTA {
    font-size: 10px;
    margin-left: 166px;
    position: relative;
    bottom: 15px;
}

.fa-image:before {
	content: "\f03e";
	color: #b9c5cc;
}

#pictureBloc {
	background: #e8f1f6;
	display: none;
	width: 420px;
	height: 164px;
	margin: auto;
	border-radius: 3px 0px 0px 0px;
	position: relative; 
}

.IconCTA {
	position: absolute;
	top: 31%;
	left: 50%; 
	transform: translate(-50%, -50%); 
	font-size: 68px;
}

.textCTA {
	font-weight: bold;
    line-height: 16.42px;
    text-align: center;
}

#addPhotoButton2 {
	position: relative;
}

.label {
    font-size: 14px;
    font-weight: bold;
    color: #3D3D3D;
    margin-bottom: 5px;
}

.inputFooter {
	width: 379px;
	height: 51px;
	top: 2799px;
	left: 530px;
	margin-bottom: 20px; 
}

.input-container {
    display: flex;
    font-size: 12px;
    color: #6C6C6C;
    align-items: baseline;
}


/* Icon "Chevron" inside Catégorie bloc */
.fa-sharp.fa-solid.fa-chevron-down {
    font-size: 12px;
    color: #6C6C6C;
    margin-left: 5px;
}

.fa-chevron-down:before {
    content: "\f078";
    position: relative;
    right: 45px;
}

.input-field {
    flex: 1; 
}


/* Icon Arrow on TopLeft*/
.fa-solid.fa-arrow-left {
    content: "\f078";
    position: relative;
    right: 45px;
}

.fa-arrow-left {
    font-size: 24px;
    color: #000000;
    left: 25px;
    top: 25px;
}

.close {
    color: black;
    position: relative;
    left: 92%;
    top: 24px;
    font-size: 26px;
    font-weight: bold;
	cursor: pointer;
}

.arrow-left {
    top: 10px;
    left: 10px;
    font-size: 21px;
	margin-bottom: 20px;
}

.ligne-modalreturn {
    width: 420px;
    border: 1px solid #b3b3b3;
    position: relative;
    bottom: 20px;
    left: 50%;
    top: 76px;
    transform: translateX(-50%);
}

.elementCTA {
    background-color: gray;
    margin-top: 38px;
	height: 34px;
}

.elementLign {
    border: 1px solid #b3b3b3;
    position: relative;
    bottom: 20px;
    top: 11px;
}